.xz-bubble-tips {
  position: relative;
  font-size: 22rpx;

  &__tips {
    position: absolute;
    z-index: 999;
    width: 40vw;
    padding: 10rpx;
    text-align: center;
    color: #FF9224;
    background-color: #FFF8D7;
    border-radius: 20rpx;
    box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.08);
    transition: display 1s ease-out;

    &::before {
      content: "";
      position: absolute;
      border: 18rpx solid transparent;
    }
  }

  &--bottom {
    .xz-bubble-tips__tips {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, calc(100% + 20rpx));

      &::before {
        left: 50%;
        top: -36rpx;
        border-bottom-color: #FFF8D7;
        transform: translateX(-50%);
      }
    }
  }

  &--right {
    .xz-bubble-tips__tips {
      left: 0;
      bottom: 50%;
      transform: translate(calc(-100% - 20rpx), 50%);

      &::before {
        right: -36rpx;
        top: 50%;
        border-left-color: #FFF8D7;
        transform: translateY(-50%);
      }
    }
  }
}
